body {
    margin: 0;
}

div {
    background-color: rgb(208, 202, 202);
    padding: 20px;
    font-family: sans-serif;
    border-left: 8px black solid;
    height: 80vh;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    font-size: 15px;
    box-sizing: border-box;


}

h2 {
    margin: 0;
    /*Tendra 20px de tamaño de letra como esta definido en el padre*/
    font-size: 2em;
}