/*ELEMENTOS*/
h1 {
    color: blueviolet;
}



/* CLASES*/
.ingrediente_faltante{  
    color: red;
}


/* ID's: Solo se usa uun mismo ID una sola vez en todo el archivo HTML*/

#ingrediente_secreto{
    color:blue
}